body, html {
  height: 100%;
}

.bg {
  background-image: url("../img/img433.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#wrapper {
	display: flex;
	width: 60%;
	height: 450px;
	margin-top: 50px;
	margin-left: 300px;
	border: 1px solid black;
	background-color: rgba(0, 0, 0, 0.4);
	}
/* @media screen and (max-width: 400px) {
	#wrapper {
		width: 30%;
	} */


#abouttop{
	width: 100%;
	
}
#aboutimage {
	width: 300px;
	height: 100%;	
}

#abouthead{
	padding-top: 50px;
}
#abouttext {
	height: 40px;
}

#more {
	padding-top: 50px;
}

#imagecontainer {
	border-right: 1px solid black;
}

.texteffect {
	text-shadow: 2px 2px 8px #FFFFFF;
	padding-left: 5px;
}


/*responsive*/

 