.bg {
  background-image: url("../img/img433.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about1 {
  background-color: rgba(0, 0, 0, 0.6);
}

.about1 p::first-letter {
  font-size: 200%;
}

img#myself {
  border: 0.5vw outset gray;
  width: 18%;
  min-width: 150px;
  float: left;
  margin: 0 20px 10px 0;
}

.texteffect {
  text-shadow: 2px 2px 8px #FFFFFF;
  text-align: center;
}

.about2 h5 {
	text-align: center;
}

/*responsive*/