#equipment {
  background-image: url(../img/film.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.equipmentTextDiv {
  background-color: rgba(0, 0, 0, 0.6);
}

.img100 {
	width: 100%;
}
#cont-fluid{
    padding: 0;
}