#equipment{
    background-image: url(../img/film.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    height: 60vh;
   
}
.equipmentBody{
    background-color: #EDEDED;
}
#equipmentTextDiv{
    background-color: rgba(0%, 0%, 0%, 50%);
	height: auto;
    margin-top: 5%;
}