
#hero{
    background-image: url("../img/img433.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    padding-top: 300px;
}

.list-item{
    font-size: 1.5rem;
}

.insta{
    color: #fff;
    font-size: 3em !important;
}

a.whitelink {
	color: #f8f9fa!important;
}

a.whitelink:hover {
	text-decoration: underline !important;
	color: #fff !important;
}

.vertical-align {
	position: fixed !important;
	width: 100%;
	/* text-align: center; */
}

/* check media queries for font-size in main styles.css */