*{
    font-family: 'Stoke', serif;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
    padding: 0;

}

#hero{
    background-image: url("../img/img433.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    padding-top: 300px;
}

.list-item{
    font-size: 1.5rem;
}

.insta{
    color: #fff;
    font-size: 3em!important;
}