
#hero{
    background-image: url("../img/img433.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    padding-top: 300px;
}

.list-item{
    font-size: 1.5rem;
}

.insta{
    color: #fff;
    font-size: 3em !important;
}

a {
	color: #f8f9fa!important;
}

a:hover {
	text-decoration: underline !important;
	color: #fff !important;
}

html {
  font-size: 1rem;
}

/* check media queries for font-size in main styles.css */